body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.section{
    border: 3.5px solid goldenrod;
    border-radius: 30px;
    padding: 30px 80px;
}
h2{
    font-size: 30px;
}
input{
    width: 30rem;
    height: 75px;
    margin: 10px 0;
    font-size: 16px;
}
.txt1{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 16.5px;
}

